<div class="footer-separator"></div>
<footer class="footer">
    <div class="footer-container">

      <div class="footer-left">
        <div class="footer-logo-text">SCANMASTER</div>
        <div class="footer-socials-horizontal">
          <a href="https://rutube.ru/channel/48652352/shorts/" target="_blank" class="social-link">
            <img src="/scanmaster/assets/img/RUTube.svg" alt="RUTube" />
          </a>
          <a href="https://t.me/scanmaster_tm" target="_blank" class="social-link">
            <img src="/scanmaster/assets/img/TG.svg" alt="Telegram" />
          </a>
          <a href="https://vkvideo.ru/@anatomia.dela" target="_blank" class="social-link">
            <img src="/scanmaster/assets/img/VK.svg" alt="VK" />
          </a>
          <a href="https://dzen.ru/id/5e9f2800ce2028643c748f59?tab=shorts" target="_blank" class="social-link">
            <img src="/scanmaster/assets/img/DZ.svg" alt="DZ" />
          </a>
          <a href="https://lite-box.ru/" target="_blank" class="social-link">
            <img src="/scanmaster/assets/img/LB.svg" alt="LB" />
          </a>
        </div>
      </div>      

      <div class="footer-center">
        <h4>Навигация</h4>
        <a href="/scanmaster/main/main.html">Главная</a>
        <a href="/scanmaster/main/catalog.html">Каталог</a>
        <a href="/scanmaster/main/main.html#buy">Купить</a>
        <a href="/scanmaster/main/optovikam.html">Оптом</a>
        <a href="/scanmaster/main/contacts.html">Контакты</a>
      </div>    

      <div class="footer-right">
        <h4>Контакты</h4>
        <p>scanmaster@yandex.ru</p>
        <p>+7 (993) 461-22-72</p>
        <p>Россия, Котельники, Угрешский проезд, 8</p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© SCANMASTER 2025, все права защищены</p>
      <a href="/scanmaster/main/privacy.html">Политика конфиденциальности</a>
      <a href="/scanmaster/blog/blog.html">Наши статьи</a>
      <div class="admin-area">
        <a href="/scanmaster/admins/admin-login.html" class="admin-link">Вход</a>
      </div>
    </div>
  </footer>
  