<header class="header">
  <a href="/main/main.html" class="logo">
    <img src="/assets/img/logoMTO.svg" alt="SCANMASTER" />
  </a>
  <button class="burger" id="burger-btn" aria-label="Открыть меню">
    <span></span><span></span><span></span>
  </button>
  <nav>
    <a href="/main/basket.html" class="cart-icon">
      <img src="/assets/img/BuyT.svg" alt="Корзина" />
    </a>
    <a href="/main/catalog.html">Каталог</a>
    <a href="/main/main.html#buy">Купить</a>
    <a href="/main/optovikam.html">Оптом/для бизнеса</a>
    <a href="/main/contacts.html">Контакты</a>
  </nav>
  <div class="mobile-nav" id="mobileNav">
    <a href="/main/catalog.html">Каталог</a>
    <a href="/main/main.html#buy">Маркетплейсы</a>
    <a href="/main/optovikam.html">Оптом/для бизнеса</a>
    <a href="/main/contacts.html">Контакты</a>
    <a href="/main/basket.html">Корзина</a>
  </div>
</header>
